aiodns==2.0.0
aiohttp==3.7.4.post0
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
cffi==1.15.0
chardet==4.0.0
colorama==0.4.4
cryptography==35.0.0
filelock==3.0.12
h11==0.12.0
idna==2.10
multidict==5.1.0
numpy==1.21.3
outcome==1.1.0
pycparser==2.20
pyOpenSSL==21.0.0
requests==2.25.1
requests-file==1.5.1
selenium==4.0.0
six==1.15.0
sniffio==1.2.0
sortedcontainers==2.4.0
symspellpy==6.7.0
tldextract==3.1.0
trio==0.19.0
trio-websocket==0.9.2
typing-extensions==3.7.4.3
urllib3==1.26.4
win-unicode-console==0.5
wsproto==1.0.0
yarl==1.6.3
